{% extends 'home.jinja' %}
{% block content %}
    <div class="container">

        <h1>Se produjo un Error</h1>

        <p>
                
           <h1>Algo sucedio inesperadamente</h1>
                
        </p>

        <br>

        <a href="{{ '/compras/templates/' }}">Ir a Lista de Productos</a>

    </div>

{% endblock %}