{% extends 'home.jinja' %}

{% block content %}
    <h1> Lista de Productos </h1>

    <table>

        <thead>

            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>

            </tr>

        </thead>

        <tbody>  
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</th>
                <td>{{ producto.stock_actual }}</td>
            </tr>
            {% endfor %}
        
        
        </tbody>

    </table>

{% endblock %}